.projects_main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right top,
        rgba(251, 249, 252, 0),
        rgba(248, 249, 247, 0)
      ),
      url("../../../public/pics/projects2.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.projects_title {
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 120px;
    font-size: 24px;
}

.swiper {
    width: 60%;
    height: 60%; 
    color: #ffffff !important;
}

.projects_slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.projects_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects_legend {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 50px;
    text-align: center;
}

.projects_legend_title {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.projects_legend_description {
    font-size: 16px;
    color: #ffffff;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--swiper-navigation-color) !important;
}

.swiper-pagination-bullet {
    background: var(--swiper-pagination-color) !important;
}

@media only screen and (max-width: 1500px) {
    .projects_title {
        margin-top: 160px;
    } 

  }

  @media only screen and (max-width: 1200px) {
    .swiper {
        width: 90%;
    }

  }

  @media only screen and (max-width: 600px) {
    .projects_title {
        margin-top: 50px;
    } 

    .projects_title {
        font-size: 18px;
    }

    .swiper {
        width: 90%;
        height: 65%; 
    }
    
  }
  