.services_main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right top,
        rgba(251, 249, 252, 0),
        rgba(13, 13, 13, 0.464)
      ),
      url("../../../public/pics/services.webp");
    background-size: cover;
    background-position: bottom;
}

.services_info {
    margin-top: 150px;
  }
  
  .title {
    margin-top: 90px;
      margin-bottom: 60px;
      color: #ffffff;
    }
    
  .about_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .about_card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 300px;
      height: 200px;
      background: linear-gradient(145deg,  #ffffff,  #ffffff);
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #1d1d1d;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in-out;
    }
    
    .about_card:hover {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      filter: brightness(80%);
    }
  
  .about_icon {
    width: 64px;
    height: 64px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  
  .card_title {
   color:#1d1d1d;
  }
  
 
  