.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    padding: 24px 0 40px 0;
    background-color: #1d1d1d;
}

.header_logo {
    color: #ffffff;
    cursor: pointer;
}

.logo {
    width: 210px;
    height: 120px;
  
}
.header_contacts {
    display: flex;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.header_phone {
    margin-right: 20px;
    cursor: pointer;
    font-size: 16px;
}

.header_email:hover {
    color: #deae66;
}

.header_phone:hover {
    color: #deae66;
}

.header_button {
    margin-left: 20px;
    width: 50px;
    height: 50px;
    color: #ffffff;
    background-color: #deae66;
    border: none;
    font-size: 16px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_button:hover {
    background-color: #1d1d1d;
    transition: all .3s ease-in-out;
}

.header_icon {
    width: 25px;
    height: 25px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}


.header_nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 130px; 
    width: 70vw;
    height: 75px;
    background-color: #deae66;
    text-align: center;
}

.header_nav:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 75px solid transparent;
    border-right: 50px solid #000000;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
}

.link_wrapper{
    display: inline-block;
    margin-right: 20px;
   
}

.header_nav a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.link_wrapper:hover, .link_wrapper.active {
    color: #1d1d1d;
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #1d1d1d;
    border-top: 1px solid #1d1d1d;
}
