.about_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
  background-image: linear-gradient(
        to right top,
        rgba(246, 245, 246, 0.741),
        rgba(248, 249, 247, 0.557)
      ),
      url("../../../public/pics/about3.jpg");
    background-size:cover;
    background-position: bottom;
}

.about_info {
  margin-top: 170px;
  width: 70vw;
}

.title {
    margin-bottom: 60px;
  }


.text {
  margin-bottom: 20px;
  color: rgb(40, 39, 39);
  font-weight:500;
}

.sub_text {
  margin-bottom: 30px;
}

.about_cards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 250px;
    background: linear-gradient(145deg, #deae66, hsl(38, 76%, 71%));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .about_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    filter: brightness(110%);
  }

.about_icon {
  width: 64px;
  height: 64px;
  margin-bottom: 15px;
  margin-top: 5px;
  filter: brightness(0) invert(1);
}

.card_title {
 color:#ffffff;
  margin-bottom: 10px;
}

.card_text {
    color:#ffffff;
}

@media only screen and (max-width: 1300px) {

  
  .about_info {
    margin-top: 120px;
    width: 70vw;
  }
  
  .title {
      margin-bottom: 50px;
    }
  
  .about_card {
      width: 200px;
      height: 250px;
    }
  
  .about_icon {
    width: 50px;
    height: 50px;
  }
  
  .card_text {
      font-size: 14px;
  }

  .card_title {
  font-size: 14px;
   }
  
}

@media only screen and (max-width: 900px) {
  .about_info {
    width: 90vw;
  }
}

@media only screen and (max-width: 700px) {
  .card_text {
    font-size: 12px;
}

.card_title {
font-size: 12px;
 }

 .about_icon {
  width: 30px;
  height: 30px;
}

.about_card {
  width: 180px;
  height: 200px;
}

.title {
  font-size: 16px;
}

.text {
font-size: 14px;
}

.sub_text {
  font-size: 14px;
}
}

@media only screen and (max-width: 600px) {

  .about_main {
    height: auto;
  }

  .about_info {
    margin-top: 120px;
    width: 70vw;
  }

  .about_cards {
  flex-direction: column;
  }

  .about_card {
    width: 250px;
    height: 220px;
    margin-bottom: 40px;
  }

  .card_text {
    font-size: 14px;
}

.card_title {
font-size: 14px;
 }

 .about_icon {
  width: 40px;
  height: 40px;
}

}