.hero_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: linear-gradient(
        to right top,
        rgba(251, 249, 252, 0.509),
        rgba(248, 249, 247, 0.505)
      ),
      url("../../../public/pics/hero.webp");
    background-size: cover;
    background-position: center;
    animation: scaleDown 10s ease-in-out;
}

@keyframes scaleDown {
    0% {
        background-size: 130%;
    }
    100% {
        background-size: 100%;
    }
}

.hero_subname {
 font-size: 20px;
 font-weight: 800;
 color: #1d1d1d;
}

.hero_name {
    margin-bottom: 80px;
    font-size: 54px;
    font-weight: 600;
    padding: 20px;
    color: #fff;
    border-radius: 10px;
}

.hero_span {
    color: #1d1d1d; 
}

.hero_moto {
    font-weight: 800;
    font-size: 20px;
     color: #fff;
}

.hero_button {
    padding: 12px;
    background-color: #deae66;
    border: #deae66;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.hero_button:hover {
    scale: 1.1;
    transition: all .3s ease-in-out;
}

